<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="github" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <github>
    <add key="api" value="https://api.github.com" />
    <add key="users" value="optsoldev" />
  </github>
</configuration>