<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="repos" type="System.Configuration.NameValueSectionHandler"/>
    <section name="github" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <repos>
    <add key="dir" value="C:\Repos" />
  </repos>
  <github>
    <add key="api" value="https://api.github.com" />
    <add key="users" value="optsoldev" />
    <add key="white_list" value="components-backend-core" />
  </github>
</configuration>